//Font vars
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

// Colors
$background-main: #18191b;
$white-text: #fff;
$paragraph: rgb(223, 223, 223);
$bg-blue: rgb(86, 124, 228);
$bg-hike: rgb(167, 110, 231);
$clr-project: rgb(255, 139, 93);

