

@import"./base/mixins";
@import"./base/vars";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    height: 100%;
}

body {
    position: relative;
    height: 100%;
    @include Montserrat;
    font-size: 16px;
    background-color: $background-main;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }

    &.hide {
        overflow: hidden;
    }

}


.container {
    max-width: 1140px;
    margin: 0 auto;
}




// .scrollmagic-pin-spacer {
//     position:static !important;

// }


@import"./base/media";

@import"./blocks/header";
@import"./blocks/slide";




@import"./blocks/desc";
@import"./blocks/img";
@import"./blocks/btn";
@import"./blocks/nav";
@import"./blocks/burger";
@import"./blocks/reveal";
@import"./blocks/cursor";
@import"./blocks/title";
@import"./blocks/projects";
@import"./blocks/swipe";
@import"./blocks/scrollup";

@import"./blocks/tools";



