.btn {
    padding: 1rem 2rem;
    background: none;
    color: $white-text;
    border: 1px solid $white-text;
    cursor: none;
    text-decoration: none;
    align-self: flex-start;
    bottom: 0;
}