.desc {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 50%;
    color: $white-text;
    padding: 0 1.2rem;
   
    p {
        padding: 3rem 0;
        line-height: 2.2rem;
        color: $paragraph;
        font-size: 1.5rem;
        flex: 1 1 auto;
    }
    &__span {
        &-developer {
            color: $bg-blue;
        }
        &-tools {
            color: $bg-hike;
        }
        &-projects {
            color: $bg-fashion; 
        }
    }

} 