.fashion-explore {

    position: relative;
    min-height: 100vh;
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    margin: auto;
    color: white;



    &__img {
        position:relative;
        height: 70vh;
        flex-basis: 20rem;

        img {
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            height: 100%;
            
        }

    }

    &__text {
        flex:1;
        position: relative;
        flex-basis: 25rem;

        h1 {
            font-size: 5rem;
            padding: 0 0 4rem 0;
        }

        p {
            font-size: 2rem;
            padding-right: 2rem;
            margin-bottom: 5rem;
        }
    }

}

.nr {
    position: absolute;
    left: 50%;
    bottom: 0%;

    color:white;
    opacity: 0.2;

    font-size: 12rem;


    &__1 {
        bottom: 1.5%;
    }


    &__2 {
        left: 30%;
        bottom: 5%;
    }

}

.fashion1 h1 {
    color: $bg-fashion;
}
.fashion1 {
    min-height: 85vh;
}

.fashion2 h1 {
    color: $bg-hike;
}

.fashion3 h1 {
    color: $bg-blue;
}