main {
    position: absolute;
}
.main {
    &__slide {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        
        &-wrapper {
            width: 80%;
            height: 100%;
            margin: 0 auto;
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: $background-main;
        }
        
        &-item {
            width: 100%;
            height: 100%;
            display: flex;
            margin: 0 -1.2rem;
        }
    }  
}

.mountain {
    min-height: 85vh;
}
