.swipe {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform: translate(-100%);

    &-1 {
        background-color: $bg-hike;
        z-index: 10;
    }

    &-2 {
        background-color: $bg-blue;
        z-index: 9;
    }

    &-3{
        background-color: $clr-project;
        z-index: 8;
    }
}